asgiref==3.11.1
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==48.0.0
Django
django-rest-framework
djangorestframework
httplib2
idna
oauthlib==3.3.1
pillow
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pyparsing
requests
requests-oauthlib
sqlparse
tzdata
uritemplate
urllib3
